:root {
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
}

.container {
  /* position: relative; */
  /* top: 0;
  right: 0;
  left: 0;
  bottom: 0; */

  height: 100vh;

  background: #1b1c31;
}

/* CSS sidebar */

.sidebar {
  background: #21223a;
  height: 100vh;
}

/* CSS topbar */

.search-input{
  outline: none;
  caret-color: white;
}

.service-active {
  color: white;
  border-bottom: 1px solid white;
}
